* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: lightgrey;
  text-align: center;
}
#game {
  box-shadow: 10px 10px 15px black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgb(44, 44, 44);
}
table {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
  width: fit-content;
}

.cell {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  user-select: none;
}
img {
  width: 32px;
  height: 32px;
}
