@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Paytone One, sans-serif";
}
h1 {
  color: lightgrey;
  text-align: center;
}
#game {
  box-shadow: 10px 10px 15px black;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; */
  background-color: rgb(44, 44, 44);
}
table {
  background: url("./assets/bluemoon.png");
  background-position: center;
  background-repeat: no-repeat;
  border-spacing: 0;
  border-collapse: collapse;
  position: absolute;
  top: 20px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
}

.cell {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  user-select: none;
  display: inline-block;
}
img {
  width: 32px;
  height: 32px;
}
canvas {
  position: relative;
  display: flex;
  margin: auto;
}
button {
  padding: 10px 35px;
  background-color: white;
  margin-left: 2px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(255, 0, 0, 0.918);
  color: white;
  font-weight: 500;
}

.imageDiv,
.buttonDiv {
  margin: auto;
  width: max-content;
  /* display: none; */
}
div {
  margin: 20px;
}
.customLevel {
  display: none;
  position: absolute;
  top: 0px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.customLevel > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  height: 100%;
  position: relative;
  top: 69vh;
}
